{% extends "news/base.html"%}
{% block content%}
	<H1> Football News Home </H1>
	{% for x in posts  %}
	<article class="media content-section">
	  <div class="media-body">
	  	<div class="article-metadata">
	  		<h6><a class="article-title" href="#">{{ x.author }}</a></h6>
	  		<small class="text-muted">{{x.date_posted | date:"F d, Y"}}</small>
	  	</div>
	  		<h1><a class="article-title" href="#">{{ x.title }}</a></h1>
	    
	    <p class="article-content">{{ x.content }}</p>
	  </div>
	</article>
	{% endfor %}
{%endblock content%}